.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px 0;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button.button-transparent {
  color: $color-teal;
  border: 1px solid $color-teal;
}

.button.button-blue {
  background: $color-teal;
  border: 1px solid $color-teal;
  color: white;
}
