table, td, th {
    border: 1px solid #dddddd;
    border-left: 0;
    border-right: 0;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 500px;

    @media (max-width: $mobile-version-width) {
      // This might break things in some cases. But it's probably better
      // than allow Ckeditor to put an inline width and break things on small
      // screens for all tables
      width: 100% !important;
    }
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f9f9f9;}
