.post-wrapper {

  margin-top: 20px;
  display: flex;

  .post-body {
    position: relative;

    &.event-body {
      margin-top: -10px;
    }

    img {
      max-width: 100%;
    }
  }

  .post-title {
    background: $color-yellow;
    display: inline;
  }
  .post-info {
    width: 200px;
    position: sticky;
    padding-right: 10px;
    top: 10px;

    .rating {
      margin-bottom: 8px;

      .fa {
        margin-left: 1px;
      }
    }

    .post-team {
      color: $color-red;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }

    .post-details {
      margin-top: 5px;
      font-size: 15px;
      margin-left: 2px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .post-detail {
        margin-bottom: 7px;

        .fa {
          margin-right: 3px;
        }
      }

    }
  }

    @media (max-width: $breaking-width) {
      flex-direction: column;

      .post-info-column {
        margin-bottom: 20px;
      }
    }
}
