#content {

  // Shows index

  .shows {
    margin-top: 10px;
  }

  .show-box {
    text-decoration: none;

    &:hover h2 {
      text-decoration: underline;
    }

    flex-grow: 1;
    display: flex;
    width: 500px;
    box-shadow: 1px 1px 14px rgba(100,100,100,0.1);
    padding: 10px;
    position: relative;

    img {
      width: 140px;
      height: 140px;
    }

    .title-line {

      h2 {
        margin-top: 0;
      }
    }

    .details {
      padding-left: 10px;
      width: 100%;

      .time {
        background: rgb(229, 255, 80);
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        bottom: 20px;

      }

      .show-description {
        font-size: 16px;
      }
    }

    @media (max-width: $mobile-version-width) {
      img {
        width: 70px;
        height: 70px;
      }

      .time, .tag-line {
        display: none;
      }
    }

  }

  // Shows show

  .show-content {
    display: flex;

    @media (max-width: $mobile-version-width) {
      display: block;
    }

    .podcasts {
      width: 150px;
      margin-right: 20px;

      .podcast-link {
        padding-bottom: 6px;
      }
    }
  }
}
