<h1>The techteam is fun</h1>
<p><strong>FreshAir.org.uk</strong> can help you gain plenty of transferable skills even
if you don't want to host or produce a show! Why not joining us for some fun hands-on experience?</p>
<p>Even when the following roles have already been appointed for next year, there is plenty of work to do and we're always aiming to train folks and expand our team.</p>
<h2>Webmaster</h2>
<p>Responsible for the amazing website you're just reading and other IT services (which include streaming, the broadcast control site, show recordings and VOIP telephony).</p><p>
You can contact the current webmaster at <a href="mailto:webmaster@freshair.org.uk">webmaster@freshair.org.uk</a>.</p>
<h2>Head of Tech</h2>
<p>Responsible for all things tech (mainly audio-equipment).</p>
<p>You can contact the current Head of Tech at <a href="mailto:tech@freshair.org.uk">tech@freshair.org.uk</a>.</p>
