<h2>FreshAir.org.uk OpenID</h2>

<p>
  <%= @oidreq.trust_root %> wants to check your identity.
</p>

<p>
  Would you like to continue?
</p>

<form method="post" action="<%= open_id_decision_path %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" name="yes" value="Yes" class="btn btn-primary" />
  <input type="submit" name="no"  value="No"  class="btn" />
</form>
