<% content_for :head do %>
  <meta http-equiv="X-XRDS-Location" content="<%= @xrds_url %>" />
  <link rel="openid.server" href="<%= url_for :action => 'index' %>" />
<% end %>

<p>OpenID identity page</p>
