table, td, th {
    border: 1px solid rgba(0,0,0,0.1);
    border-left: 0;
    border-right: 0;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
