* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  outline: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $color-almost-black;
}

a {
  color: inherit;
  text-decoration: underline;

  &:focus {
    outline: 0;
  }
}

iframe {
  border: 0;
  margin-bottom: 10px;
  margin-top: 10px;

  @media (max-width: $break-width) {
    width: 100%;
    height: 200px;
  }
}

ul, ol {
  padding-left: 25px;
}

section {
  margin-bottom: 20px;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 1px 0 rgba(12,13,14,0.15);
  margin-bottom: 10px;
}

.error-message {
  display: inline-block;
  margin-top: 10px;
  background: $color-yellow;
}

#top-toggler {
  display: none;
}

@media(max-width: $break-width) {
  #top-toggler:checked + aside {
    section, .on-air {
      display: block;
    }
  }
}

h1, h2 {
  margin-top: 7px;
}

#main-body {
  position: relative;
  margin-top: 20px;
  margin-left: $aside-width + 30;
  margin-right: 40px;
  height: 100%;

  #content {

    .fa-grey {
      color: $color-less-black;
    }

    p {
      margin-bottom: 7px;
      font-size: 18px;
      line-height: 26px;
      color: #1b1b1b;
    }

    img {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .no-content-warning {
      font-style: italic;
      margin-top: 10px;
      margin-left: 10px;
      display: block;
    }

    .post-collection-link {
      text-decoration: none;
    }
  }

  @media (max-width: $break-width) {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;


    #content {
      h1 {
        font-size: 23px;
      }

      h2 {
        font-size: 17px;
      }

      p {
        font-size: 15px;
      }
    }


    header {
      display: none;
    }
  }
}
