.player-wrapper {
  background-color: $color-dark-grey;
  color: $color-dirty-white;
}

.listen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#player {
  display: flex;
  img.cover {
    margin-right: 10px;
    height: 200px;
    width: 200px;
  }

  .on-air-info {
    display: flex;
    justify-content: space-between;
  }

  .button {
    width: 100px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #play-icon {
    line-height: 0;
  }

  .fa {
    font-size: 8px;
    margin-right: 5px;
  }
}
